<div class="columns">
  <div class="column">
    <div class="field is-grouped pull-right">
      <%= link_to "Start a new team", new_team_path, class: 'button is-primary is-outlined'%>
    </div>
  </div>
</div>

<% @teams.each do |t| %>
  <div class="columns">
    <div class="column"> 
      <div class="box"> 
        <div class="title"> <h3> <%= t.name %> </h3> </div>
        <%= t.description %> 
      </div>

      <%= react_component("DailPassword", {
        team_id: t.id,
        auth_url: auth_path
      }) %>
    </div>
    <hr>
  </div>
<% end %>
