nav {
  margin-bottom: 25px;
}

form {
  width: 100%;
  padding: 25px;
}

input[type=text] {
  width: 100%;
}

textarea {
  width: 100%;
}

body {
  margin-bottom: 150px !important;
}

nav {
  margin-bottom: 50px;
}
